.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}
.header_navbar {
    display: flex;
    justify-content: space-between;
}
.header_navbar-list {
    padding-left: 0;
    list-style: none;
    margin: 4px 0 0 0 ;
    display: flex;
    align-items: center;
}
.header_navbar-items {margin: 0 8px ;
    position: relative;
    min-height: 26px;
}
.hear_navbar-user-avarta {
    width: 22px;
    border-radius: 50%;
}
.header_navbar-user-name {margin-left: 8px;
    font-size: 1.4rem;
    font-weight: 400}
.header_navbar-user {
    display: flex;
    justify-items: center;

}
.has-notif:hover .header-notif {
    display:block;}
.header_navbar-items, .header_navbar-link {
    display: inline-block;
    font-size: 1.2rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header_navbar-items:hover,.header-navbar-iconlink:hover, .header_navbar-link:hover {
    color: rgba(255,255,255,.7);
    cursor: pointer ;
}
.header_navbar-items--bold {
    font-weight: 100;
}
.header-navbar-iconlink {
    text-decoration: none;
}
.header-navbar-icon {
    font-size: 1.5rem;
}
.header_navbar-items, .header_navbar-link, .header-navbar-iconlink {
    display: inline-flex;
    align-items: center;
}
.header_navbar-tiltes-nopoint {
    cursor: text;
    color: white;
}
/*Header QR*/
.header-qr {
    background-color: var(--white-color);
    width: 190px;
    position: absolute;
    left: 0;
    top:150%;
    display: none;
    z-index: 999999;
    animation: fadeIn ease-in 0.3s;
}
.header-qr::before {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;

    top: -20px;
}
.qr-dowload-img {width: 100%;
}
.header-qr-apps {display: flex;
}
.qr-dowload-img {height: 17px;
    justify-content: space-between;
}
.qr:hover .header-qr {
    display: block;
}
.header-notif {
    cursor: default;
    position: absolute;
    top: 100%;
    width: 404px;
    right: 0;
    background: var(--white-color);
    border: 1px solid #B3B3B3;
    user-select: none;
    transform-origin: calc(100% - 20px) top ;
    animation:header-notif-grow ease-in 0.1s;
    display: none;
    z-index: 1;
}
.header-notif::before {
    content: "";
    border-width: 20px 26px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -25px;
}
@keyframes header-notif-grow {
    from {opacity: 0;
        transform: scale(0);
    }
    to {opacity: 1;
        transform: scale(1);
    }

}
.header-notif-head{

}
.header-notif-list{

}
.header-notif-items:hover{
    background-color: #f7f7f7;
}

.header-notif-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    color: black;
    background: rgba(238, 75, 43, .1);
}
.header-notif-info{display: block;
    margin-left: 12px;


}
.search-input-history{
    z-index: 99999;
}
.header-notif-name{
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400;
    line-height: 1.4rem;
    margin-top: 4px;

}
.header-notif-desc{display: block;
    color: #756F6E;
    line-height: 1.6rem;

}
.header-notif-img {
    width: 48px;
    object-fit: contain;
}
.header-notif-footer-btn { margin: auto;text-decoration: none;padding:8px 0px; color: black;font-size: 1.6rem;font-weight: 400;
    text-align: center;
}
/*authen modal*/
.authen-form--container {padding:  32px;
    font-weight: 400}
.authen-form--heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.authen-form--input {
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}
.authen-form-policy {text-decoration: none; color: var(--primary-color)}
.authen-form--aside {font-size: 1.4rem; line-height: 1.8rem;
    text-align: center;
}
.authen-form-controls {margin-top: 50px;
    display: flex;
    justify-content: flex-end;
}
.authen-form--socials {

    display: flex;
    justify-content: space-between;
}
.authen-form--help {
    display: flex;
    justify-content: flex-end;
    margin: 16px 0;
}
.authen-form-helplink {
    text-decoration: none;
    font-size: 1.6rem;
}
.authen-form--help-separe {display: block;
    border-left: 1px solid var(--border-color);
    height: 20px;
    margin: -2px 16px}
.header-search {
    height: calc(var(--header-search));
    align-items: center;
    display: flex;
    margin: 0 8px ;
    flex: 1;
}
.header-searchbar {
    height: 40px;
    display: flex;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 100%;
}
.header-search-option {
    position: absolute;
    right: 0;
    margin-top: 5px;
    top: 100%;
    width: 110px;
    border-radius: 2px;
    list-style: none;
    box-shadow: 0 1px 2px #ccc;
    padding-left: 0;
    display: none;

}
.option-items {
    background: var(--white-color);
    border-radius: 2px;
    padding: 8px;
    cursor: pointer;
}
.option-items i {display:none;

}
.option-items:hover {
    background-color: #fafafa;
}
.active-check {
    display: inline-block!important;
}
.search-option:hover .header-search-option {
    display: block;
    animation: ease-in 0.2s;
}
.header-search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color:#fafafa ;
    top: -10px;
    left: 0;
    position: absolute;
}
.history-items a {
    text-decoration: none ;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 38px;
    display: block;
}
.history-items:hover {
    background-color: #fafafa;
}
.search-input:focus ~ .search-input-history {
    display: block!important;
}
.cart-list {
    position: absolute;
    top: 36px;
    right: -54px;
    transform: translateX(-40px);
    background: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
}
.header-no-cart {
    width: 50% !important;
    left: 110px;
    position: relative;
}
.no-cart {
    padding: 24px 0;
}
.cart-list::after {
    content:'';
    position: absolute;
    right: 16px;
    top: -30px;
    border-width: 20px ;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    cursor: pointer;
}
.header-cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
}
.header-cart:hover .cart-list {
    display: block;
}
.no-cart .header-no-cart,
.no-cart .messager {
    display: block!important;
}
.items-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}
.items-price {font-size: 1.4rem;
    font-weight: 500;
    color: var(--primary-color)
}
.items-remove:hover {
    color: var(--primary-color)!important;
    cursor:pointer;
}
.cart-view {
    float: right;
    margin: 0 12px 12px 0;
    border: none;
    background: var(--primary-color);
    color: var(--white-color);
    border-radius: 2px;
}
.cart-view:hover {
    background: #756F6E;
}
.header_navbar-user-menu{
    position: absolute;
    padding-left: 0;
    right: 0;
    top: calc(100% + 6px);
    background: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    z-index: 1;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
}
.menu-user a{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 5px 16px;
    display: inline-block;
}
.menu-user a:hover {
    background-color: #fafafa;
}
.header_navbar-user-menu::before {
    content: "";
    border-width: 15px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 19px;
    top: -22px;
}
.header_navbar-user-menu::after{
    content: "";
    position: absolute;
    display: block;
    top: -8px;
    right: 0;
    width: 30%;
    height: 8px;

}
.header_navbar-user:hover .header_navbar-user-menu {
    display: block;
}