
:root {--border-color: #DBDBDB;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #EE4D2D;
    --header-height:120px;
    --navbar-height: 34px;
    --header-search: calc(var(--header-height)) - calc(var(--navbar-height));
}
* {
    box-sizing: inherit;
}
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid_full_width {
    width: 100%;
}
.grid_full_row {
    display: flex;
    flex-wrap: wrap;
}
/*animation*/
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        transform: scale(var(--growth-to));
    }
}
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    animation: fadeIn linear 0.1s;
}
.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
}
.modal-body {
    width: 550px;
    height: 500px;
    background-color: var(--white-color);
    margin: auto;
    z-index: 2;
    border-radius: 5px;
    animation: growth linear 0.1s;
    --growth-from: 0.7;
    --growth-to: 1
}
.btn {text-decoration: none;
    min-width: 142px;
    height: 36px;
    padding: 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--text-color);
    display: flex;
}
.authen-form--socials {
    height: 32px;
    font-size: 15px;


}
.btn:hover {background-color: rgba(0,0,0,0.1%) ;}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
ul li{
    list-style-type: none;
}
.ml-40per{
    margin-left: 40%;
}
.float-right{
    float: right;
}
.flex{
    display: flex;
}
.flex-col{
    display: flex;
    flex-direction: column;
}
.align-center{
    align-items: center;
}
.w-25{
    width: 25%;
}
.w-15{
    width: 15%;
}
.w-10{
    width: 10%;
}
.w-75{
    width: 75%;
}
.h-25{
    height: 25%;
}
.w-fit{
    width: fit-content;
}
.text-center{
    text-align: center;
}
.justify-content-center{
    display: flex;
    justify-content: center;
}
.gap-2{
    gap: 2px;
}
.gap-5px{
    gap: 5px;
}
.gap-3rem{
    gap:3rem;
}
.fz-5{
    font-size: 5px;
}
.fz-8{
    font-size: 8px;
}
.fz-10{
    font-size: 10px;
}
.fz-14{
    font-size: 14px;
}
.ml-50{
    margin-left: 50px;
}
.mt-0{
    margin-top: 0;
}
.mb-0{
    margin-bottom: 0;
}
.mx-0{
    margin: 0;
}
.ml-20{
    margin-left: 20px;
}
.ml-10{
    margin-left: 10px;
}
.py-15px{
    padding: 15px 0;
}
.pb-2px{
    padding-bottom: 2px;
}
.pt-22{
    padding-top: 12px;
}
.py-2{
    padding: 2px 0;
}
.p-5{
    padding: 5px;
}
.pr-5{
    padding-right: 5px;
}
.mr-10px{
    margin-right: 10px;
}
.mt-22{
    margin-top: 22px;
}
.end-to-details{
    margin-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.mb-15{
    margin-bottom: 15px;
}
.mt-1{
    margin-top: 1rem;
}
.mt-12px{
    margin-top: 12px;
}
.mt-15px{
    margin-top: 15px;
}
.ml-2{
    margin-left: 2px;
}
.ml-1{
    margin-left: 1px;
}
.ml-2px{
    margin-left: 2px;
}
.mt-4px{
    margin-top: 4px;
}
.underline{
    text-decoration: underline;
}
.line-through{
    text-decoration: line-through;
}
.text-red{
    color: red;
}
.text-gray{
    color: gray;
}
.fw-400{
    font-weight: 400;
}
.fw-600{
    font-weight: 600;
}
.justify-content-space{
    display: flex;
    justify-content: space-around;
}
.absolute{
    position: absolute;
}
.point{
    cursor: pointer;
}
a{
    text-decoration: none;
}
.text-deepskyblue{
    color: deepskyblue;
}
.fz-medium{
    font-size: medium;
}
.gap-1rem{
    gap: 1rem;
}